@using WebApp.Settings

@if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="d-flex align-items-center justify-content-center">
        <form method="post" class="d-flex justify-content-center align-items-center" asp-page="/Account/Logout">
            <div>Welcome @User.Identity.Name (@User.Claims.First(p => p.Type == "Position"))</div>
            <div><button type="submit" class="m-lg-2 btn btn-link text-decoration-none">Logout</button></div>
        </form>
        @if (User.IsInRole(SD.AdminRole))
        {
            <a class="btn btn-link text-decoration-none" asp-page="/Account/Register">Register</a>
        }
    </div>    
}
else
{
    <a class="btn btn-link text-decoration-none" asp-page="/Account/Login">Login</a>
}