<div id="bootBoxOkBody" class="text-center mb-0 p-4">
    
</div>

<script type="text/javascript">

    const msgBody = document.getElementById("bootBoxOkBody");

    var bootBoxOk = function ({ title, message, static = false, okCallback = null , cancelCallback = null }) {
        
        const buttons = [{
            label: 'OK',
            className: "btn-primary",
            callback: okCallback ? () => okCallback() : () => { }
        }];

        msgBody.innerHTML = message;

        if (cancelCallback) {
            buttons.push({
                label: 'Cancel',
                className: "btn-secondary",
                callback: cancelCallback ? () => cancelCallback : () => { }
            });
        }

        const dialog = bootbox.dialog({
            show: false,
            title: title || 'Title',
            message: msgBody,
            centerVertical: true,
            closeButton: true,
            backdrop: static ? true : 'static',
            buttons: buttons
        });

        dialog.removeAttr("aria-hidden");

        return dialog;
    }

</script>
