<div id="yesNoDialog" class="modal fade always-on-top" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body montserrat-regular-40pt-h1 text-center pt-5 pb-2">
            </div>
            <div class="text-center pb-4">
                <button id="dialogYes" type="button" class="btn oebtn-green-primary waves-effect waves-light btn-normal-size">"Yes"</button>
                <button id="dialogNo" type="button" class="btn oebtn-green-secondary waves-effect waves-light btn-normal-size">"No"</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var modalYesNo = function (message, yesCallback, noCallback) {
        $("#yesNoDialog.modal .modal-body").text(message);
        $("#dialogYes").off("click");
        $("#dialogNo").off("click");
        $("#dialogYes").on("click", function () {
            $("#yesNoDialog").modal('hide');
            yesCallback();
        });
        $("#dialogNo").on("click", function () {
            $("#yesNoDialog").modal('hide');
            if (noCallback != null) {
                noCallback();
            }
        });
        $("#yesNoDialog").modal({ backdrop: 'static', keyboard: false }, 'show');
    }

</script>

