@page
@model WebApp.Pages.Account.AuthenticatorLoginMFASetupModel
@{
}
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success mt-4" role="alert">
        @Model.Message
    </div>
}
<h3>Step: 1</h3>
<p>
    Please scan the QR Code or enter the Key from your authenticator app:
</p>
<p>
    @if (Model.SetupMFAViewModel.QRCodeBytes != null)
    {
        <img src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.SetupMFAViewModel.QRCodeBytes))" width="300" height="300" />
    }
</p>
<br/>
<p>
    @Model.SetupMFAViewModel.Key
</p>
<h3>Step: 2</h3>
<br/>
<p>
    Please enter the Code from your authenticator app:
</p>
<br/>
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="SetupMFAViewModel.SecurityCode"></label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="SetupMFAViewModel.SecurityCode" class="form-control" />
                <span class="text-danger" asp-validation-for="SetupMFAViewModel.SecurityCode"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="hidden" asp-for="SetupMFAViewModel.Key" />
                <input type="hidden" asp-for="SetupMFAViewModel.QRCodeBytes" />
                <input type="hidden" asp-for="SetupMFAViewModel.Email" />
            </div>
            <div class="col-4 text-end">
                <input type="submit" class="btn btn-primary" value="Verify" />
            </div>
        </div>
    </form>
</div>