@page
@model WebApp.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/@(nameof(WebApp)).styles.css" asp-append-version="true" />

<h3>User Registration</h3>
<br />

<div id="registration-form" class="container border" style="padding: 20px;background-color: #fafafa;">
    <form class="px-4 py-2" method="post">
        @* ModelOnly => we should show all errors because errors may generated from Registration process*@
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row pb-3">
            <div class="col-6">
                <label asp-for="RegisterViewModel.FirstName"></label>
                <input class="form-control input-box input-md" type="text" asp-for="RegisterViewModel.FirstName" autocomplete="off" />
                <span class="text-danger" asp-validation-for="RegisterViewModel.FirstName"></span>
            </div>
            <div class="col-6 pl-2">
                <label asp-for="RegisterViewModel.LastName"></label>
                <input class="form-control input-box input-md" type="text" asp-for="RegisterViewModel.LastName" autocomplete="off" />
                <span class="text-danger" asp-validation-for="RegisterViewModel.LastName"></span>
            </div>
        </div>        
        <div class="form-group row pb-3">
            <div class="col-6">
                <label asp-for="RegisterViewModel.Email"></label>
                <input class="form-control input-box input-md" type="text" asp-for="RegisterViewModel.Email" autocomplete="off" />
                <span class="text-danger" asp-validation-for="RegisterViewModel.Email"></span>
            </div>
            <div class="col-6 pl-2">
                <label asp-for="RegisterViewModel.Password"></label>
                <input class="form-control input-box input-md" type="password" asp-for="RegisterViewModel.Password" autocomplete="off" />
                <span class="text-danger" asp-validation-for="RegisterViewModel.Password"></span>
            </div>
        </div>
        <div class="form-group row pb-3">
            <div class="col-6">
                <label asp-for="RegisterViewModel.Department"></label>
                <select asp-for="RegisterViewModel.Department" class="form-select form-select-md">
                    <option value="IT">Information Technology</option>
                    <option value="HR">Human Resources</option>
                </select>
                <span class="text-danger" asp-validation-for="RegisterViewModel.Department"></span>
            </div>
            <div class="col-6 pl-2">
                <label asp-for="RegisterViewModel.Position"></label>
                <select asp-for="RegisterViewModel.Position" class="form-select form-select-md">
                    <option value="Developer">Developer</option>
                    <option value="Manager">Manager</option>
                </select>
                <span class="text-danger" asp-validation-for="RegisterViewModel.Position"></span>
            </div>            
        </div>
        <div class="form-group row mt-3">
            <div class="col-12 text-end">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </form>
</div>