@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please click to <a href="/Account/Register">Register</a>.</p>
    <div>
        <button id="bootBoxDlg" type="button" class="btn btn-primary">Bootbox</button>
    </div>
</div>

@* <partial name="_Modal/_BootBoxDialog" /> *@

@section Scripts
{
    <script type="text/javascript">
        $('#bootBoxDlg').on('click', function (event) {
            const timeout = 5000;
            const msg = 'Bootbox.js: Dialog Example';
            const msgHtml = `<p class="text-center mb-0 p-4">${msg}</p>`;
            const dialog = bootbox.dialog({
                title: 'TItle',
                message: msgHtml,
                centerVertical: true,
                closeButton: true,
                backdrop: true, // 'static'
                buttons:[
                    {
                        label : 'OK',
                        className: "btn-primary",
                        callback : () => {}
                    },
                    {
                        label : 'Cancel',
                        className: "btn-secondary",
                        callback : () => {}
                    }
                ]
            });
            setTimeout(() => { dialog.modal('hide'); }, timeout);
        });
    </script>
}
