@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please click to <a href="/Account/Register">Register</a>.</p>
    <div class="d-flex justify-content-center align-items-center">
        <button id="indexBootBoxDlg" type="button" class="btn btn-primary">Bootbox</button>
        <button id="indexBootstrapBoxDlg" type="button" class="btn btn-secondary ms-2" data-toggle="modal">Bootstrap</button>
    </div>
</div>

<partial name="_Modal/_YesNoDialog" />
<partial name="_Modal/_BootBoxDialog" />

@section Scripts
{
    <script type="text/javascript">
        const title = 'Sample Dialog Title';
        const message = 'Bootbox.js: Dialog Example';

        $('#indexBootBoxDlg').on('click', function (event) {
            const dialog = bootBoxOk({
                title, message
            });
            dialog.modal('show');
            setTimeout(
                () => dialog.modal('hide'),
            5000);
        });

        $('#indexBootstrapBoxDlg').on('click', function (event) {
            modalYesNo(message);
        });
    </script>
}
